html  {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url("./assets/bg.jpg");
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ensure the background has a height of 100vh */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 80%;
    background-color: #393F6E;
    border-radius: 15px;
}